html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #ecf0f1;
}

body {
    background: none;
    position:relative;
}

h2.bb-docs {
    font-size: 1.8rem;
    font-weight: 300;
    color: #666;
    margin: -0.1rem 0 0;
    background-color: #f5f5f5;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
    border: solid 0.1rem #e8e8e8;
    margin: 3rem 0 1rem;
}

section[role="region"] {
    margin-bottom: 1.5rem;
    position: relative;
}

#container img{
    float: none;
    width: 48%;
    height: 50%;
    margin-left: 0.3em;
    margin-top: 0.3em;
    border-radius: 8px;
    box-shadow: 1px 3px 5px #000;
}

#online img{
    float: none;
    width: 48%;
    height: 50%;
    margin-left: 0.3em;
    margin-top: 0.3em;
    border-radius: 8px;
    box-shadow: 1px 3px 5px #000;
}

#footer{
    background-color: #e74c3c;
    font-weight: lighter;
    color: white;
    height: 58em;
    padding: 5px;
    padding-right: 5px;
    font-size: 15;
    text-align: center;
    box-shadow: inset 0 0 10px #000000
}

@keyframes fadein {
from { opacity: -1; }
to { opacity: 1; }
}