html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #ecf0f1;
    max-width: 100%;
}

h2.bb-docs {
    font-size: 1.8rem;
    font-weight: 300;
    color: #666;
    margin: -0.1rem 0 0;
    background-color: #f5f5f5;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
    border: solid 0.1rem #e8e8e8;
    margin: 3rem 0 1rem;
}

section[role="region"] {
    margin-bottom: 1.5rem;
    position: relative;
}

.touch{
    width: 48%;
    height: 30%;
    margin-left: 0.3em;
    margin-top: 0.3em;
    border-radius:4px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.random{
    display: block;
    width: 100%;
    height: 20em;
    box-shadow: 0px 0px 1px 1px #000000;
    clear: left;
    padding-top: 3.5em;
}

.random img{
    width: 100%;
    height: 20em;
}

#container{
    clear: left;
}

footer{
    margin: 0px;
    width: 100%;
    height: auto;
    padding-top: 1em;
    background-color: #e74c3c;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
    word-wrap: break-word;
}

footer h1{
    font-size: 2em;
    font-weight: normal;
}
